# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WebApplication.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Blazor\WebApplication\.idea\.idea.WebApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
