/*** @media all  ***/
*[b-8yvgiel6wu] {
    box-sizing: border-box;
}
html[b-8yvgiel6wu] {
    height: 100%;
}
body[b-8yvgiel6wu] {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    font: 12pt/1.5 'Raleway', 'Cambria', sans-serif;
    font-weight: 300;
    background: #fff;
    color: #666;
    -webkit-print-color-adjust: exact;
}
header[b-8yvgiel6wu] {
    padding: 16px;
    position: relative;
    color: #888;
}
header h1[b-8yvgiel6wu],
header h2[b-8yvgiel6wu] {
    font-weight: 200;
    margin: 0;
}
header h1[b-8yvgiel6wu] {
    font-size: 27pt;
    letter-spacing: 4px;
}
body > *[b-8yvgiel6wu] {
    width: 100%;
    max-width: 7in;
    margin: 3px auto;
    background: #f0f0f0;
    text-align: center;
}
footer[b-8yvgiel6wu] {
    padding: 16px;
}
footer p[b-8yvgiel6wu] {
    font-size: 9pt;
    margin: 0;
    font-family: 'Nunito';
    color: #777;
}
section[b-8yvgiel6wu],
table[b-8yvgiel6wu] {
    padding: 8px 0;
    position: relative;
}
dl[b-8yvgiel6wu] {
    margin: 0;
    letter-spacing: -4px;
}
dl dt[b-8yvgiel6wu],
dl dd[b-8yvgiel6wu] {
    letter-spacing: normal;
    display: inline-block;
    margin: 0;
    padding: 0px 6px;
    vertical-align: top;
}
dl.bloc > dt[b-8yvgiel6wu],
dl:not(.bloc) dt:not(:last-of-type)[b-8yvgiel6wu],
dl:not(.bloc) dd:not(:last-of-type)[b-8yvgiel6wu] {
    border-bottom: 1px solid #ddd;
}
dl:not(.bloc) dt[b-8yvgiel6wu] {
    border-right: 1px solid #ddd;
}
dt[b-8yvgiel6wu] {
    width: 49%;
    text-align: right;
    letter-spacing: 1px !important;
    overflow: hidden;
}
dd[b-8yvgiel6wu] {
    width: 49%;
    text-align: left;
}
dd[b-8yvgiel6wu],
tr>td[b-8yvgiel6wu] {
    font-family: 'Nunito';
}
section.flex[b-8yvgiel6wu] {
    display: flex;
    flex-flow: row wrap;
    padding: 8px 16px;
    justify-content: space-around;
}
dl.bloc[b-8yvgiel6wu] {
    padding: 0;
    flex: 1;
    vertical-align: top;
    min-width: 240px;
    margin: 0 8px 8px;
}
dl.bloc>dt[b-8yvgiel6wu] {
    text-align: left;
    width: 100%;
    margin-top: 12px;
}
dl.bloc>dd[b-8yvgiel6wu] {
    text-align: left;
    width: 100%;
    padding: 8px 0 5px 16px;
    line-height: 1.25;
}
dl.bloc>dd>dl dt[b-8yvgiel6wu] {
    width: 33%;
}
dl.bloc>dd>dl dd[b-8yvgiel6wu] {
    width: 60%;
}
dl.bloc dl[b-8yvgiel6wu] {
    margin-top: 12px;
}
dl.bloc dd[b-8yvgiel6wu] {
    font-size: 11pt;
}
table[b-8yvgiel6wu] {
    width: 100%;
    padding: 0;
    border-spacing: 0px;
}
table tr[b-8yvgiel6wu] {
    margin: 0;
    padding: 0;
    background: #fdfdfd;
    border-right: 1px solid #ddd;
    width: 100%;
}
table tr td[b-8yvgiel6wu],
table tr th[b-8yvgiel6wu] {
    border: 1px solid #e3e3e3;
    border-top: 1px solid #fff;
    border-left-color: #fff;
    font-size: 11pt;
    background: #fdfdfd;
}
table thead th[b-8yvgiel6wu] {
    background: #e9e9e9;
    background: linear-gradient(to bottom, #f9f9f9, #e9e9e9) !important;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 15px 0 5px;
    /*&:not(:last-child)*/
    border: none !important;
}
table tbody tr:last-child td[b-8yvgiel6wu] {
    border-bottom: 1px solid #ddd;
}
table tbody td[b-8yvgiel6wu] {
    min-width: 75px;
    padding: 3px 6px;
    line-height: 1.25;
}
table tfoot tr td[b-8yvgiel6wu] {
    /*border 1px solid #e3e3e3
          border-top 1px solid white
          border-left-color #fff*/
    height: 40px;
    padding: 6px 0 0;
    color: #000;
    text-shadow: 0 0 1px rgba(0,0,0,0.25);
    font-family: 'Cambria', 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
table tfoot tr td:first-child[b-8yvgiel6wu] {
    font-style: italic;
    color: #997b7b;
}
a[b-8yvgiel6wu] {
    color: #992c2c;
}
a:hover[b-8yvgiel6wu] {
    color: #bb0000;
}
@page {
    margin: 0.5cm;
}
/*** @media screen  ***/
html[b-8yvgiel6wu],
body[b-8yvgiel6wu] {
    background: #333231;
}
header[b-8yvgiel6wu]:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 12px solid #333;
    border-left: 12px solid #ddd;
    width: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.18);
}
